# Copy this is example configuration and modify to fit your needs.
# Place your configs in the same folder as this file.

# SECTION INPUT ########################################################################################################

[private_index_db]
# The private database contains all file information as well sensitive data as path and file names.
# Default DB name: private_database.sqlite
# Default location: same as script path
database_file_path = /path/to/private.sqlite

[public_index_db]
# The public database contains the data of the private database except path and file names.
# Te can be safely exposed to 3rd parties and is meant to be the point of truth for analysis.
# Once the analysis results are available, the real folder and file names can be reconstructed with the private database.
# Default DB name: public_database.sqlite
# Default location: same as script path
database_file_path = /path/to/public.sqlite

# In the following section please provide all the folders that need to be indexed.
[paths]
# Expected layout:
# folders =
#   [TAB]/path/to/folder_1
#   [TAB]/path/to/folder_2
#   [TAB]...
folders =
    /path/to/folder_1
    /path/to/folder_2

# Hashing dependent parameters
[hashing]

# Number of bytes to read at once when hashing a file.
file_block_size = 10240

# Number of bytes to read at once when hashing a file name or absolute path.
file_name_block_size = 1024

# SECTION EVALUATION ###################################################################################################

[evaluation]
# File where to store the evaluated result of the public database.
# Default DB name: evaluation_database.sqlite
# Default location: same as script path
evaluation_database_file_path = /path/to/evaluation.sqlite

# SECTION OUTPUT #######################################################################################################

[output]